.calendar input[type="text"]:disabled {
    background: transparent;
    border: none;
}
.calendar td{
	overflow: hidden;
}
.calendar input[type="text"]{
	background: transparent;
    border: none;
    width: 60px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 2px;
}
.calendar{
	text-align: center;
}
.calendar th{
	text-align: center;
}
.calendar input[type="text"]:hover{
	outline: 2px solid #367fa9;
}